<table>
  <tr class="row header">
    <th>Название</th>
    <th> Период оборота </th>
    <th> Орбитальный период </th>
    <th> Диаметр </th>
    <th> Климат </th>
    <th> Гравитация</th>
    <th> Поверхность </th>
    <th> Уровень воды </th>
    <th> Население </th>
    <th> residents </th>
    <th> Фильмы </th>
    <th> Добавлено</th>
    <th> Обновлено </th>
  </tr>
  <tr class="row" *ngFor="let item of data">
    <td><a href="{{item.url}}"> {{item.name}} </a></td>
    <td> {{item.rotation_period}} </td>
    <td> {{item.orbital_period}} </td>
    <td> {{item.diameter}} </td>
    <td> {{item.climate}} </td>
    <td> {{item.gravity}} </td>
    <td> {{item.terrain}} </td>
    <td> {{item.surface_water}} </td>
    <td> {{item.population}} </td>
    <td> {{item.residents | json}} </td>
    <td> {{item.films | json}} </td>
    <td> {{item.created| date : 'short'}} </td>
    <td> {{item.edited | date: 'short'}} </td>
  </tr>
</table>